.ticketItem {
  width: inherit;
  height: 184px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.infoWrapper {
  display: grid;
  grid-template-rows: 36px 78px;
  row-gap: 30px;
}

.ticketHeader {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;

  .price {
    font-size: 24px;
    color: #2196F3;
    font-weight: 600;
  }
}

.ticketInfo {
  display: grid;
  grid-template-rows: 32px;
  row-gap: 14px;
  width: 100%;
  height: 78px;
}

.ticketDataContainer {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;

  .ticketData {
    width: 152px;

    span {
      text-transform: uppercase;
      display: block;
      letter-spacing: 0;
    }

    span:first-of-type {
      color: #A0B0B9;
    }

    span:last-of-type {
      font-size: 14px;
    }
  }
}