$primary-color: #2196F3;
$secondary-color: #F1FCFF;
$border-color: #DFE5EC;

.sortFilters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  outline: 1px solid $border-color;
  border-radius: 5px;

  label {
    align-content: center;
    border-radius: 5px 0 0 5px;
    height: inherit;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in;
  }

  :nth-of-type(2) {
    border-radius: 0;
    box-shadow: -1px 0px 0px 0px $border-color;
  }

  :last-of-type {
    border-radius: 0 5px 5px 0;
    box-shadow: -1px 0px 0px 0px $border-color;
  }

  input[type="checkbox"]:focus + label {
    text-decoration: underline!important;
  }

  input[type="checkbox"]:checked + label {
    background-color: $primary-color;
    text-decoration: none;
    color: white;
  }

  /* visually hidden checkbox */
  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.ticketsContainer {
  width: 500px;

  ul {
    width: inherit;
    height: fit-content;
  }
}

.btnLoadMore {
  width: inherit;
  height: 50px;
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}